<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="https://pub-saskatoon.escribemeetings.com/Scripts/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="https://video.isilive.ca/cdn/isi_player.js"></script>
    <style>
        html, body { margin: 0; padding: 0; height: 100%; overflow: hidden; }
        .isi_message { visibility: hidden; }
    </style>
</head>
<body>
    <div id="isi_player"
         data-start-time="{{ seek }}"
         data-size="inherit"
         data-auto_play="false"
         data-client_id="{{ client_id }}"
         data-file_name="{{ file_name }}"
         style="height: 100%;">
    </div>
</body>
</html>
